body {
    background-color: rgb(58, 57, 57);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(51, 102, 44);
    color: white;
    text-align: center;
    padding: 15px;
    
}

main {
    padding: 15px;
}


.song1 {
    display:flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
   }

.song1 {
    border: 1px solid rgb(87, 122, 89);
    padding: 15px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ; color: rgb(197, 197, 197);
    flex-wrap: wrap;
    
}


footer {
    text-align: center;
    padding: 30px;
    background-color:rgb(51, 102, 44);
    color: white;
}